<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VAC_ZoneControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VAC_ZoneControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VAC_ZoneControl.Properties.Settings>
            <setting name="RepeaterDen" serializeAs="String">
                <value>d:\XBMC\audio\RepeaterDen.exe</value>
            </setting>
            <setting name="RepeaterKitchen" serializeAs="String">
                <value>d:\XBMC\audio\RepeaterKitchen.exe</value>
            </setting>
            <setting name="RepeaterDining" serializeAs="String">
                <value>d:\XBMC\audio\RepeaterDining.exe</value>
            </setting>
            <setting name="RepeaterLiving" serializeAs="String">
                <value>d:\XBMC\audio\RepeaterLiving.exe</value>
            </setting>
            <setting name="RepeaterOutsideHouse" serializeAs="String">
                <value>d:\XBMC\audio\RepeaterOutsideHouse.exe</value>
            </setting>
            <setting name="RepeaterOutsideFence" serializeAs="String">
                <value>d:\XBMC\audio\RepeaterOutsideFence.exe</value>
            </setting>
            <setting name="RepeaterDeviceZoneDen" serializeAs="String">
                <value>Z1 (2- kX 10k2 Audio (3550) - G</value>
            </setting>
            <setting name="RepeaterDeviceZoneKitchen" serializeAs="String">
                <value>Z2 (2- kX 10k2 Audio (3550) - G</value>
            </setting>
            <setting name="RepeaterDeviceZoneDining" serializeAs="String">
                <value>Z3 (2- kX 10k2 Audio (3550) - G</value>
            </setting>
            <setting name="RepeaterDeviceZoneLiving" serializeAs="String">
                <value>Z4 (kX 10k2 Audio (3550) - Gene</value>
            </setting>
            <setting name="RepeaterDeviceZoneOutsideHouse" serializeAs="String">
                <value>Z5 (kX 10k2 Audio (3550) - Gene</value>
            </setting>
            <setting name="RepeaterDeviceZoneOutsideFence" serializeAs="String">
                <value>Z6 (kX 10k2 Audio (3550) - Gene</value>
            </setting>
            <setting name="DeviceSourceDefault" serializeAs="String">
                <value>Line 1 (Virtual Audio Cable)</value>
            </setting>
            <setting name="DeviceSourceIPod" serializeAs="String">
                <value>kX Wave SB0350 10k2 [8000] 0/1</value>
            </setting>
            <setting name="DeviceSourceTurntable" serializeAs="String">
                <value>kX Wave SB0350 10k2 [8800] 0/1</value>
            </setting>
            <setting name="DeviceSourceLineIn" serializeAs="String">
                <value>Line in at rear panel (Blue) (R</value>
            </setting>
            <setting name="RepeaterBitsPerSample" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="RepeaterChannels" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RepeaterBufferMS" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="RepeaterBuffers" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DeviceZoneTelevision" serializeAs="String">
                <value>NVIDIA(R) nForce(TM) Audio</value>
            </setting>
            <setting name="RepeaterTelevision" serializeAs="String">
                <value>D:\xbmc\Audio\RepeaterTelevision.exe</value>
            </setting>
            <setting name="kxDevice1" serializeAs="String">
                <value>kX Control SB0350 10k2 [8000]</value>
            </setting>
            <setting name="kxDevice2" serializeAs="String">
                <value>kX Control SB0350 10k2 [8800]</value>
            </setting>
            <setting name="ChannelDen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChannelKitchen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ChannelDining" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ChannelLiving" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChannelOutsideHouse" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ChannelOutsideFence" serializeAs="String">
                <value>2</value>
            </setting>
        </VAC_ZoneControl.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <VAC_ZoneControl.Properties.Settings>
            <setting name="VolumeDen" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VolumeKitchen" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VolumeDining" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VolumeLiving" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VolumeOutsideHouse" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VolumeOutsideFence" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlaybackDeviceZoneDen" serializeAs="String">
                <value>Z1</value>
            </setting>
            <setting name="PlaybackDeviceZoneKitchen" serializeAs="String">
                <value>Z2</value>
            </setting>
            <setting name="PlaybackDeviceZoneDining" serializeAs="String">
                <value>Z3</value>
            </setting>
            <setting name="PlaybackDeviceZoneLiving" serializeAs="String">
                <value>Z4</value>
            </setting>
            <setting name="PlaybackDeviceZoneOutsideHouse" serializeAs="String">
                <value>Z5</value>
            </setting>
            <setting name="PlaybackDeviceZoneOutsideFence" serializeAs="String">
                <value>Z6</value>
            </setting>
            <setting name="PlaybackDeviceZoneTelevision" serializeAs="String">
                <value />
            </setting>
        </VAC_ZoneControl.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
